<div
  class="navbar nav-pills sticky-top justify-content-between bg-dark px-sm-5"
>
  <div class="d-flex">
    <div class="nav-item">
      <a class="nav-link active" href="/">Movies</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="/music">Music</a>
    </div>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa fa-search text-muted"></i>
          </span>
        </div>
        <input
          type="search"
          class="form-control"
          id="search"
          placeholder="search"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
    </form>
  </form>
</div>
